Repository mces58/ChatirdekApp: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier:server, npm run lint:server, npm run prettier:client, npm run lint:client

chore(package-json): removed unnecessary packages
  client/package-lock.json
  client/package.json
Due: none

chore(online-users): fixed users' online status
  client/src/components/profileContainer/ProfileWithText.tsx
  client/src/context/SocketContext.tsx
  client/src/forms/SendInput.tsx
  client/src/screens/Chat/Chat.tsx
  client/src/screens/Chat/Home.tsx
  client/src/screens/Chat/components/MessageContainer.tsx
  client/src/screens/Discover/UserProfile.tsx
  client/src/screens/Setting/Profile.tsx
  client/src/services/baseUrl.ts
Due: npm run prettier:client, npm run lint:client

change(crypto-js): removed crypto.js library and operations
  server/package-lock.json
  server/package.json
  server/src/controllers/groupMessage.controller.js
  server/src/controllers/message.controller.js
  server/src/models/user.model.js
  server/src/socket/socket.js
  server/src/utils/crypto.util.js
  server/src/utils/preparePath.util.js
Due: npm run prettier:server, npm run lint:server

feat(end-to-end): added e2e encryption
  client/package-lock.json
  client/package.json
  client/src/constants/types/user.ts
  client/src/context/SocketContext.tsx
  client/src/e2e/createKey.ts
  client/src/e2e/encryption.ts
  client/src/e2e/savePrivateKey.ts
  client/src/forms/RegisterForm.tsx
  client/src/forms/SendInput.tsx
  client/src/screens/Chat/Chat.tsx
  client/src/screens/Chat/components/MessageContainer.tsx
  client/src/services/baseUrl.ts
  server/src/controllers/auth.controller.js
  server/src/models/user.model.js
  server/src/validations/auth.validation.js
Due: npm run prettier:server, npm run lint:server, npm run prettier:client, npm run lint:client

feat(message-storage): added uploading messages to local with 'async-storage'
  client/src/forms/SendInput.tsx
  client/src/screens/Chat/Chat.tsx
  client/src/storages/message-storage.ts
  client/src/utils/open-camera.ts
  client/src/utils/open-galllery.ts
Due: npm run prettier:client, npm run lint:client

Path conditions:
  npm run prettier:server: any of: server/**/*.js
  npm run lint:server: any of: server/**/*.js
  npm run prettier:client: any of: client/**/*.{ts,tsx}
  npm run lint:client: any of: client/**/*.{ts,tsx}
