Repository mces58/ChatirdekApp: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier:server, npm run lint:server, npm run prettier:client, npm run lint:client

feat(friendship-controller): added friendship controller
  server/.eslintrc.js
  server/src/controllers/friend.controller.js
  server/src/routes/friend.route.js
  server/src/server.js
  server/src/utils/generateToken.util.js
Due: npm run prettier:server, npm run lint:server

fix(message-controller-route): fixed message controller and route also added multer and cloudinary
  server/package-lock.json
  server/package.json
  server/src/controllers/message.controller.js
  server/src/middlewares/multer.middleware.js
  server/src/models/message.model.js
  server/src/routes/message.route.js
  server/src/server.js
  server/src/utils/cloudinary.util.js
  server/src/utils/removeLocalImage.util.js
Due: npm run prettier:server, npm run lint:server

feat(message-controller-route): added controller and route that shows the last message sent
  server/src/controllers/message.controller.js
  server/src/routes/message.route.js
Due: npm run prettier:server, npm run lint:server

fix(user-controller-route): fixed user controller and route, also unnecessary code have been cleaned
  server/src/controllers/user.controller.js
  server/src/routes/user.route.js
Due: npm run prettier:server, npm run lint:server

feat(env-validation): added dot env validation
  server/.eslintrc.js
  server/package-lock.json
  server/package.json
  server/src/configs/dotEnv.config.js
  server/src/configs/mail.config.js
  server/src/db/connect.db.js
  server/src/middlewares/authentication.middleware.js
  server/src/server.js
  server/src/utils/cloudinary.util.js
  server/src/utils/generateToken.util.js
  server/src/utils/jwt.util.js
  server/src/utils/sendMail.util.js
Due: npm run prettier:server, npm run lint:server

feat(winston): added logger for recording tracking
  server/.eslintrc.js
  server/package-lock.json
  server/package.json
  server/src/db/connect.db.js
  server/src/server.js
  server/src/socket/socket.js
  server/src/utils/cloudinary.util.js
  server/src/utils/error.util.js
  server/src/utils/logger.util.js
  server/src/utils/sendMail.util.js
Due: npm run prettier:server, npm run lint:server

chore(db-connection): optimize mongo-db connection handling
  server/src/db/connect.db.js
Due: npm run prettier:server, npm run lint:server

feat(validation): added request validation middleware using joi and lodash
  server/package-lock.json
  server/package.json
  server/src/controllers/auth.controller.js
  server/src/controllers/message.controller.js
  server/src/middlewares/validate.middleware.js
  server/src/routes/auth.route.js
  server/src/routes/friend.route.js
  server/src/routes/message.route.js
  server/src/routes/user.route.js
  server/src/validations/auth.validation.js
  server/src/validations/friend.validation.js
  server/src/validations/message.validation.js
  server/src/validations/mongoId.validation.js
  server/src/validations/user.validation.js
Due: npm run prettier:server, npm run lint:server

feat(error-handling): added error handling for server.js
  server/package-lock.json
  server/package.json
  server/src/middlewares/error.middleware.js
  server/src/server.js
  server/src/utils/apiError.js
Due: npm run prettier:server, npm run lint:server

fix(group-controller-route): fixed group controller and route, also added new controllers and routes
  server/.eslintrc.js
  server/src/controllers/friend.controller.js
  server/src/controllers/group.controller.js
  server/src/controllers/groupMessage.controller.js
  server/src/middlewares/error.middleware.js
  server/src/models/group.model.js
  server/src/models/groupMessage.model.js
  server/src/routes/group.route.js
  server/src/routes/groupMessage.route.js
  server/src/server.js
  server/src/utils/generateToken.util.js
  server/src/validations/group.validation.js
Due: npm run prettier:server, npm run lint:server

feat(group-message): implemented group message, image upload and handling
  server/src/controllers/groupMessage.controller.js
  server/src/routes/groupMessage.route.js
  server/src/socket/socket.js
  server/src/validations/groupMessage.validation.js
Due: npm run prettier:server, npm run lint:server

feat(update-me): added user profile update functionality
  server/src/controllers/auth.controller.js
  server/src/models/user.model.js
  server/src/routes/auth.route.js
  server/src/validations/auth.validation.js
Due: npm run prettier:server, npm run lint:server

feat(register-service): added registration service and form structure
  client/package-lock.json
  client/package.json
  client/src/constants/localization/en.json
  client/src/constants/localization/i18next.ts
  client/src/constants/localization/tr.json
  client/src/constants/types/response.ts
  client/src/constants/types/user.ts
  client/src/forms/RegisterForm.tsx
  client/src/screens/Login/Register.tsx
  client/src/services/api-service.ts
  client/src/services/auth-service.ts
  client/src/services/baseUrl.ts
  client/src/services/chat-service.ts
  client/src/services/user-service.ts
  client/src/validations/register.ts
Due: npm run prettier:client, npm run lint:client

feat(password-reset-service): added reset password service and form structure
  client/src/constants/localization/en.json
  client/src/constants/localization/tr.json
  client/src/constants/types/user.ts
  client/src/forms/ForgotPasswordForm.tsx
  client/src/forms/RegisterForm.tsx
  client/src/forms/ResetPasswordForm.tsx
  client/src/screens/Login/components/ForgotPasswordBottomSheet.tsx
  client/src/services/auth-service.ts
  client/src/services/baseUrl.ts
  client/src/validations/forgotPassword.ts
  client/src/validations/resetPassword.ts
  server/src/controllers/auth.controller.js
  server/src/validations/auth.validation.js
Due: npm run prettier:server, npm run lint:server, npm run prettier:client, npm run lint:client

chore(localization): update error messages for forgot password
  client/src/constants/localization/en.json
  client/src/constants/localization/tr.json
  client/src/forms/ForgotPasswordForm.tsx
Due: npm run prettier:client, npm run lint:client

feat(login-service): added login service and form structure
  client/src/forms/LoginForm.tsx
  client/src/forms/RegisterForm.tsx
  client/src/screens/Login/Login.tsx
  client/src/services/auth-service.ts
  client/src/validations/login.ts
Due: npm run prettier:client, npm run lint:client

feat(authentication): added authentication functionality during login process
  client/src/constants/types/user.ts
  client/src/context/AuthContext.tsx
  client/src/forms/ForgotPasswordForm.tsx
  client/src/forms/LoginForm.tsx
  client/src/forms/RegisterForm.tsx
  client/src/forms/ResetPasswordForm.tsx
  client/src/services/api-service.ts
  client/src/services/auth-service.ts
  server/src/controllers/auth.controller.js
Due: npm run prettier:server, npm run lint:server, npm run prettier:client, npm run lint:client

feat(chat-home): added chat home service and cleaned unnecessary codes
  client/src/constants/types/message.ts
  client/src/constants/types/user.ts
  client/src/screens/Chat/Home.tsx
  client/src/screens/Chat/components/MessageContainer.tsx
  client/src/services/baseUrl.ts
  client/src/services/chat-service.ts
  server/src/controllers/message.controller.js
  server/src/routes/message.route.js
Due: npm run prettier:server, npm run lint:server, npm run prettier:client, npm run lint:client

feat(send-message-service): added send message service and added formic structure
  client/src/components/inputs/SendInput.tsx
  client/src/components/profileContainer/ProfileContainer.tsx
  client/src/constants/localization/en.json
  client/src/constants/localization/tr.json
  client/src/constants/types/message.ts
  client/src/forms/SendInput.tsx
  client/src/navigations/RootStackParamList.ts
  client/src/screens/Chat/Chat.tsx
  client/src/screens/Chat/Home.tsx
  client/src/screens/Chat/components/MessageContainer.tsx
  client/src/screens/Group/GroupChat.tsx
  client/src/services/chat-service.ts
  client/src/services/user-service.ts
  client/src/validations/sendMessage.ts
  server/src/controllers/message.controller.js
Due: npm run prettier:server, npm run lint:server, npm run prettier:client, npm run lint:client

feat(get-friends-service): added friends service
  client/src/screens/Chat/Home.tsx
  client/src/screens/Chat/components/FriendsBottomSheet.tsx
  client/src/services/friend-service.ts
  server/src/controllers/friend.controller.js
  server/src/controllers/message.controller.js
Due: npm run prettier:server, npm run lint:server, npm run prettier:client, npm run lint:client

feat(friend-service): added get friend request, send friend request and accept friend request
  client/src/constants/localization/en.json
  client/src/constants/localization/tr.json
  client/src/screens/Discover/Discover.tsx
  client/src/screens/Discover/UserProfile.tsx
  client/src/screens/Discover/components/RequestBoxBottomSheet.tsx
  client/src/screens/Discover/components/UserCard.tsx
  client/src/services/friend-service.ts
  server/src/controllers/friend.controller.js
Due: npm run prettier:server, npm run lint:server, npm run prettier:client, npm run lint:client

feat(setting-service): added profile update service
  client/src/components/SwitchButton.tsx
  client/src/components/bottomSheet/SetProfileValueBottomSheet.tsx
  client/src/components/profileContainer/ProfileContainer.tsx
  client/src/components/profileContainer/ProfileImage.tsx
  client/src/constants/localization/en.json
  client/src/constants/localization/tr.json
  client/src/screens/Chat/components/MessageContainer.tsx
  client/src/screens/Discover/Discover.tsx
  client/src/screens/Discover/UserProfile.tsx
  client/src/screens/Setting/Profile.tsx
  client/src/screens/Setting/Setting.tsx
  client/src/screens/Setting/components/bottomSheets/PrivacyBottomSheet.tsx
  client/src/screens/Setting/constants/privarcy-content.ts
  client/src/services/auth-service.ts
  client/src/validations/newValue.ts
Due: npm run prettier:client, npm run lint:client

feat(group-service): added group service and message service, also cleaned unnecessary codes
  client/src/components/bottomSheet/SetProfileValueBottomSheet.tsx
  client/src/components/headers/BackHeaderWithUsers.tsx
  client/src/components/list/ListUserInfo.tsx
  client/src/components/profileContainer/ProfileContainer.tsx
  client/src/constants/color/colors.ts
  client/src/constants/localization/en.json
  client/src/constants/localization/tr.json
  client/src/constants/types/group-message.ts
  client/src/constants/types/group.ts
  client/src/context/ThemeContext.tsx
  client/src/forms/SendInput.tsx
  client/src/navigations/RootStackParamList.ts
  client/src/screens/Chat/components/FriendsBottomSheet.tsx
  client/src/screens/Discover/UserProfile.tsx
  client/src/screens/Group/Group.tsx
  client/src/screens/Group/GroupChat.tsx
  client/src/screens/Group/GroupInfo.tsx
  client/src/screens/Group/components/AddMemberGroupBottomSheet.tsx
  client/src/screens/Group/components/CreateGroupBottomSheet.tsx
  client/src/screens/Group/components/GroupCard.tsx
  client/src/screens/Group/components/GroupMemberDetailModal.tsx
  client/src/services/baseUrl.ts
  client/src/services/group-message-service.ts
  client/src/services/group-service.ts
  server/src/controllers/group.controller.js
  server/src/controllers/groupMessage.controller.js
  server/src/routes/group.route.js
  server/src/routes/groupMessage.route.js
  server/src/validations/group.validation.js
  server/src/validations/groupMessage.validation.js
Due: npm run prettier:server, npm run lint:server, npm run prettier:client, npm run lint:client

feat(logo): added application logo and cleaned unnecessary codes
  client/src/assets/icons/logo.tsx
  client/src/components/BlockContactsBottomSheet.tsx
  client/src/components/bottomSheet/BaseBottomSheet.tsx
  client/src/components/bottomSheet/SetProfileValueBottomSheet.tsx
  client/src/components/profileContainer/ProfileContainer.tsx
  client/src/screens/Chat/components/FriendsBottomSheet.tsx
  client/src/screens/Login/components/ForgotPasswordBottomSheet.tsx
  client/src/screens/Setting/Profile.tsx
  client/src/screens/Setting/components/bottomSheets/AboutUsBottomSheet.tsx
  client/src/screens/Setting/constants/about-us.ts
  client/src/services/baseUrl.ts
Due: npm run prettier:client, npm run lint:client

feat(update-avatar): added avatar update functionality
  client/src/screens/Setting/Profile.tsx
  client/src/screens/Setting/components/bottomSheets/ProfilePhotoBottomSheet.tsx
  client/src/services/auth-service.ts
  client/src/services/baseUrl.ts
  client/src/utils/open-camera.ts
  client/src/utils/open-galllery.ts
  server/src/controllers/auth.controller.js
  server/src/routes/auth.route.js
  server/src/validations/auth.validation.js
Due: npm run prettier:server, npm run lint:server, npm run prettier:client, npm run lint:client

feat(send-image): added image sending functionality between users
  client/src/components/message/ImageMessage.tsx
  client/src/components/profileContainer/ProfileContainer.tsx
  client/src/components/profileContainer/ProfileModal.tsx
  client/src/constants/types/message.ts
  client/src/forms/SendInput.tsx
  client/src/screens/Chat/Chat.tsx
  client/src/screens/Chat/components/MessageContainer.tsx
  client/src/screens/Setting/Profile.tsx
  client/src/services/chat-service.ts
  server/src/controllers/message.controller.js
  server/src/routes/message.route.js
  server/src/validations/message.validation.js
Due: npm run prettier:server, npm run lint:server, npm run prettier:client, npm run lint:client

fix(send-image-cloudinary): added image sending functionality between users
  client/src/constants/localization/en.json
  client/src/constants/localization/tr.json
  client/src/forms/RegisterForm.tsx
  client/src/screens/Chat/Chat.tsx
  client/src/screens/Chat/Home.tsx
  client/src/utils/open-camera.ts
  client/src/utils/open-galllery.ts
  server/package-lock.json
  server/package.json
  server/src/controllers/message.controller.js
  server/src/server.js
  server/src/utils/base64ToImage.util.js
  server/src/utils/cloudinary.util.js
Due: npm run prettier:server, npm run lint:server, npm run prettier:client, npm run lint:client

feat(socket-io): added sending and fetching messages with socket.io
  client/src/components/profileContainer/ProfileContainer.tsx
  client/src/constants/types/group-message.ts
  client/src/context/SocketContext.tsx
  client/src/forms/SendInput.tsx
  client/src/screens/Chat/Chat.tsx
  client/src/screens/Chat/Home.tsx
  client/src/screens/Group/GroupChat.tsx
  client/src/screens/Group/components/GroupCard.tsx
  client/src/screens/Login/Login.tsx
  client/src/screens/Setting/components/bottomSheets/ProfilePhotoBottomSheet.tsx
  client/src/services/chat-service.ts
  client/src/services/group-message-service.ts
  server/src/controllers/auth.controller.js
  server/src/controllers/groupMessage.controller.js
  server/src/controllers/message.controller.js
  server/src/routes/groupMessage.route.js
  server/src/routes/message.route.js
  server/src/socket/socket.js
  server/src/validations/auth.validation.js
  server/src/validations/groupMessage.validation.js
  server/src/validations/message.validation.js
Due: npm run prettier:server, npm run lint:server, npm run prettier:client, npm run lint:client

feat(socket-io): added online status with socket.io
  client/src/components/button/SwitchButton.tsx
  client/src/components/profileContainer/ProfileContainer.tsx
  client/src/constants/localization/en.json
  client/src/constants/localization/tr.json
  client/src/context/SocketContext.tsx
  client/src/forms/LoginForm.tsx
  client/src/screens/Chat/Home.tsx
  client/src/screens/Login/Login.tsx
  client/src/screens/Setting/Setting.tsx
  client/src/screens/Setting/components/bottomSheets/PrivacyBottomSheet.tsx
  server/src/socket/socket.js
Due: npm run prettier:server, npm run lint:server, npm run prettier:client, npm run lint:client

feat(friend-request): added 'incoming friend requests' and 'outgoing friend requests'
  client/src/components/profileContainer/ProfileContainer.tsx
  client/src/components/tab/Tab.tsx
  client/src/constants/localization/en.json
  client/src/constants/localization/tr.json
  client/src/screens/Discover/Discover.tsx
  client/src/screens/Discover/components/IncomingRequests.tsx
  client/src/screens/Discover/components/OutgoingRequests.tsx
  client/src/screens/Discover/components/RequestBoxBottomSheet.tsx
  client/src/screens/Discover/components/UserCard.tsx
  client/src/services/friend-service.ts
  server/src/controllers/friend.controller.js
  server/src/routes/friend.route.js
Due: npm run prettier:server, npm run lint:server, npm run prettier:client, npm run lint:client

fix(socket-context): update messages state to use 'messages with receiver' type
  client/src/constants/types/message.ts
  client/src/context/SocketContext.tsx
  client/src/screens/Chat/Chat.tsx
  server/src/socket/socket.js
Due: npm run prettier:server, npm run lint:server, npm run prettier:client, npm run lint:client

feat(modal): added 'clear chat history modal'
  client/src/components/modal/BaseModal.tsx
  client/src/constants/localization/en.json
  client/src/constants/localization/tr.json
  client/src/screens/Setting/components/modals/ClearChatHistoryModal.tsx
Due: npm run prettier:client, npm run lint:client

change(clear-chat-history-modal): remove 'clear chat history' modal and related code
  client/src/assets/icons/chat-settings.tsx
  client/src/constants/localization/en.json
  client/src/constants/localization/tr.json
  client/src/screens/Setting/components/bottomSheets/ChatsBottomSheet.tsx
  client/src/screens/Setting/components/modals/ClearChatHistoryModal.tsx
  client/src/screens/Setting/constants/chat-setting-modal.tsx
  client/src/screens/Setting/constants/modal-names.ts
  server/src/models/conversation.model.js
Due: npm run prettier:server, npm run lint:server, npm run prettier:client, npm run lint:client

feat(online-status): added hide/show online status
  client/src/components/headers/BackHeaderWithImage.tsx
  client/src/components/profileContainer/ProfileContainerWithOnline.tsx
  client/src/navigations/RootStackParamList.ts
  client/src/screens/Chat/Chat.tsx
  client/src/screens/Chat/Home.tsx
  client/src/screens/Chat/components/FriendsBottomSheet.tsx
  client/src/screens/Chat/components/MessageContainer.tsx
  client/src/screens/Discover/Discover.tsx
  server/src/controllers/auth.controller.js
  server/src/socket/socket.js
Due: npm run prettier:server, npm run lint:server, npm run prettier:client, npm run lint:client

feat(discover-search-bar): added search bar for discover screen also, updated max char validation
  client/src/constants/localization/en.json
  client/src/constants/localization/tr.json
  client/src/screens/Chat/Home.tsx
  client/src/screens/Discover/Discover.tsx
  client/src/screens/Discover/components/RequestBoxBottomSheet.tsx
  client/src/validations/login.ts
  client/src/validations/register.ts
  client/src/validations/resetPassword.ts
  server/src/controllers/auth.controller.js
Due: npm run prettier:server, npm run lint:server, npm run prettier:client, npm run lint:client

feat(voice-message): added voice message sending feature
  client/package-lock.json
  client/package.json
  client/src/assets/icons/microphone.tsx
  client/src/assets/icons/note.tsx
  client/src/assets/icons/play.tsx
  client/src/assets/icons/stop.tsx
  client/src/components/message/AudioPlayer.tsx
  client/src/components/recoring/Recording.tsx
  client/src/constants/localization/en.json
  client/src/constants/localization/tr.json
  client/src/constants/types/group-message.ts
  client/src/constants/types/message.ts
  client/src/context/SocketContext.tsx
  client/src/forms/SendInput.tsx
  client/src/screens/Chat/Chat.tsx
  client/src/screens/Chat/components/MessageContainer.tsx
  client/src/screens/Group/GroupChat.tsx
  client/src/screens/Group/components/GroupCard.tsx
  client/src/services/baseUrl.ts
  client/src/services/chat-service.ts
  client/src/services/group-message-service.ts
  server/src/controllers/groupMessage.controller.js
  server/src/controllers/message.controller.js
  server/src/models/groupMessage.model.js
  server/src/models/message.model.js
  server/src/routes/groupMessage.route.js
  server/src/routes/message.route.js
  server/src/utils/base64ToImage.util.js
  server/src/utils/cloudinary.util.js
  server/src/validations/groupMessage.validation.js
  server/src/validations/message.validation.js
Due: npm run prettier:server, npm run lint:server, npm run prettier:client, npm run lint:client

feat(crypto-js): added encryption for server side and updated client side
  client/src/components/headers/BackHeaderWithUsers.tsx
  client/src/constants/localization/en.json
  client/src/constants/localization/tr.json
  client/src/context/SocketContext.tsx
  client/src/forms/SendInput.tsx
  client/src/screens/Chat/Home.tsx
  client/src/screens/Discover/Discover.tsx
  client/src/screens/Discover/components/UserCard.tsx
  client/src/screens/Group/components/CreateGroupBottomSheet.tsx
  client/src/screens/Group/components/GroupMemberDetailModal.tsx
  client/src/services/baseUrl.ts
  server/package-lock.json
  server/package.json
  server/src/controllers/auth.controller.js
  server/src/controllers/groupMessage.controller.js
  server/src/controllers/message.controller.js
  server/src/socket/socket.js
  server/src/utils/crypto.util.js
Due: npm run prettier:server, npm run lint:server, npm run prettier:client, npm run lint:client

fix(onboarding): edited onboarding pages and animations
  client/.eslintignore
  client/.prettierignore
  client/src/assets/animatons/onboarding1.json
  client/src/assets/animatons/onboarding2.json
  client/src/assets/animatons/onboarding3.json
  client/src/constants/color/colors.ts
  client/src/constants/localization/en.json
  client/src/constants/localization/tr.json
  client/src/screens/Onboarding/Onboarding.tsx
  client/src/screens/Onboarding/components/Button.tsx
  client/src/screens/Onboarding/components/Dot.tsx
  client/src/screens/Onboarding/components/Pagination.tsx
  client/src/screens/Onboarding/components/RenderItem.tsx
  client/src/screens/Onboarding/data.ts
Due: npm run prettier:client, npm run lint:client

fix(friend-controller): fixed incoming and outgoing requests
  client/src/screens/Discover/UserProfile.tsx
  client/src/validations/login.ts
  server/src/controllers/friend.controller.js
Due: npm run prettier:server, npm run lint:server, npm run prettier:client, npm run lint:client

Path conditions:
  npm run prettier:server: any of: server/**/*.js
  npm run lint:server: any of: server/**/*.js
  npm run prettier:client: any of: client/**/*.{ts,tsx}
  npm run lint:client: any of: client/**/*.{ts,tsx}
