Repository mces58/ChatirdekApp: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier:server, npm run lint:server, npm run prettier:client, npm run lint:client

.lintstagedrc:

{
  "server/**/*.js": ["npm run prettier:server", "npm run lint:server"],
  "client/**/*.{ts,tsx}": ["npm run prettier:client", "npm run lint:client"]
}

feat(home-screen): implemented home screen with messages fetched from backend
  client/package-lock.json
  client/package.json
  client/src/assets/animatons/register1.json
  client/src/assets/animatons/register2.json
  client/src/assets/icons/cross.tsx
  client/src/assets/icons/search.tsx
  client/src/navigations/RootStackParamList.ts
  client/src/screens/Chat/Home.tsx
  client/src/screens/Login/Login.tsx
  server/src/controllers/auth.controller.js
  server/src/controllers/user.controller.js
  server/src/routes/user.route.js
  server/src/utils/generateToken.util.js
Due: npm run prettier:server, npm run lint:server, npm run prettier:client, npm run lint:client

feat(chat-screen): implemented message sending functionality
  client/App.tsx
  client/package-lock.json
  client/package.json
  client/src/constants/types/user.ts
  client/src/context/AuthContext.tsx
  client/src/context/SocketContext.tsx
  client/src/navigations/BottomTabBar.tsx
  client/src/screens/Chat/Chat.tsx
  client/src/screens/Chat/Home.tsx
  client/src/screens/Chat/data.ts
  client/src/screens/Discover/Discover.tsx
  client/src/screens/Login/Login.tsx
  client/src/screens/Login/Register.tsx
  client/src/services/api-service.ts
  client/src/services/auth-service.ts
  client/src/services/baseUrl.ts
  client/src/services/chat-service.ts
  client/src/services/user-service.ts
  server/src/controllers/auth.controller.js
  server/src/controllers/user.controller.js
  server/src/routes/user.route.js
Due: npm run prettier:server, npm run lint:server, npm run prettier:client, npm run lint:client

feat(socket): created socketcontext and implemented user socket operations
  client/App.tsx
  client/src/context/SocketContext.tsx
  client/src/navigations/AppNavigator.tsx
  client/src/screens/Chat/Home.tsx
  client/src/screens/Discover/Discover.tsx
  client/src/screens/Login/Login.tsx
  server/src/socket/socket.js
Due: npm run prettier:server, npm run lint:server, npm run prettier:client, npm run lint:client

feat(password-reset): implemented reset functionality on server and client
  client/package-lock.json
  client/package.json
  client/src/components/Loading.tsx
  client/src/screens/Login/ForgotPassword.tsx
  client/src/screens/Login/Login.tsx
  server/package-lock.json
  server/package.json
  server/src/configs/mail.config.js
  server/src/controllers/auth.controller.js
  server/src/models/user.model.js
  server/src/routes/auth.route.js
  server/src/utils/bcryptjs.util.js
  server/src/utils/jwt.util.js
  server/src/utils/sendMail.util.js
Due: npm run prettier:server, npm run lint:server, npm run prettier:client, npm run lint:client

feat(setting-screen): added settings screen and language switcher
  client/src/assets/icons/flag.tsx
  client/src/components/LanguageBottomSheet.tsx
  client/src/constants/localization/LanguageSwitcher.tsx
  client/src/constants/localization/en.json
  client/src/constants/localization/tr.json
  client/src/screens/Setting/Setting.tsx
  server/src/controllers/auth.controller.js
  server/src/routes/auth.route.js
Due: npm run prettier:server, npm run lint:server, npm run prettier:client, npm run lint:client

feat(theme): added theme selection functionality to settings screen
  client/App.tsx
  client/src/assets/icons/theme.tsx
  client/src/components/ThemeBottomSheet.tsx
  client/src/context/ThemeContext.tsx
  client/src/screens/Setting/Setting.tsx
Due: npm run prettier:client, npm run lint:client

feat(about-us): added about us selection functionality to settings screen
  client/src/components/AboutUsBottomSheet.tsx
  client/src/screens/Setting/Setting.tsx
Due: npm run prettier:client, npm run lint:client

feat(help-center): added help center selection functionality to settings screen
  client/src/assets/icons/dot.tsx
  client/src/components/HelpBottomSheet.tsx
  client/src/screens/Setting/Setting.tsx
Due: npm run prettier:client, npm run lint:client

feat(update-screen): removed 'update screen' and update bottom tab icons
  client/src/assets/icons/bottom-tabs.tsx
  client/src/navigations/BottomTabBar.tsx
  client/src/navigations/RootStackParamList.ts
  client/src/screens/Update/Search.tsx
Due: npm run prettier:client, npm run lint:client

feat(privacy): added privacy selection functionality to settings screen
  client/src/components/PrivacyBottomSheet.tsx
  client/src/components/SwitchButton.tsx
  client/src/screens/Setting/Setting.tsx
Due: npm run prettier:client, npm run lint:client

feat(block-contacts): added block contacts selection functionality to settings screen
  client/src/components/BlockContactsBottomSheet.tsx
  client/src/screens/Setting/Setting.tsx
Due: npm run prettier:client, npm run lint:client

feat(chats): added chats selection functionality to settings screen
  client/src/components/ChatsBottomSheet.tsx
  client/src/components/ClearChatHistoryModal.tsx
  client/src/components/FontSizeModal.tsx
  client/src/components/PrivarcyBottomSheet.tsx
  client/src/components/WallpaperModal.tsx
  client/src/screens/Setting/Setting.tsx
Due: npm run prettier:client, npm run lint:client

feat(profile-photo): add react-native-image-picker package for image selection functionality
  client/package-lock.json
  client/package.json
  client/src/assets/icons/camera.tsx
  client/src/assets/icons/gallery.tsx
  client/src/components/ProfilePhotoBottomSheet.tsx
  client/src/navigations/AppNavigator.tsx
  client/src/navigations/BottomTabBar.tsx
  client/src/navigations/RootStackParamList.ts
  client/src/navigations/SettingStack.tsx
  client/src/screens/Group/Group.tsx
  client/src/screens/Group/Profile.tsx
  client/src/screens/Setting/Profile.tsx
  client/src/screens/Setting/Setting.tsx
Due: npm run prettier:client, npm run lint:client

feat(expo-image-picker): access to camera and gallery provided
  client/package-lock.json
  client/package.json
  client/src/assets/icons/bin.tsx
  client/src/components/ProfilePhotoBottomSheet.tsx
  client/src/screens/Setting/Profile.tsx
Due: npm run prettier:client, npm run lint:client

feat(set-profile-values): added profile information update function and some new icons
  client/src/assets/icons/calendar.tsx
  client/src/assets/icons/ghost.tsx
  client/src/assets/icons/id.tsx
  client/src/assets/icons/info.tsx
  client/src/assets/icons/pen.tsx
  client/src/components/SetProfileValueBottomSheet.tsx
  client/src/screens/Setting/Profile.tsx
Due: npm run prettier:client, npm run lint:client

feat(animations): new animations added for 'settings' and 'discover' screens
  client/src/assets/animatons/discover1.json
  client/src/assets/animatons/discover2.json
  client/src/assets/animatons/discover3.json
  client/src/assets/animatons/discover4.json
  client/src/assets/animatons/setting.json
  client/src/screens/Discover/Discover.tsx
  client/src/screens/Setting/Profile.tsx
Due: npm run prettier:client, npm run lint:client

feat(discover-screen): added pagination structure
  client/src/assets/animatons/discover1.json
  client/src/assets/animatons/discover2.json
  client/src/assets/animatons/discover3.json
  client/src/assets/animatons/discover4.json
  client/src/assets/animatons/setting.json
  client/src/components/Pagination.tsx
  client/src/screens/Discover/Discover.tsx
Due: npm run prettier:client, npm run lint:client

feat(friends-bottom-sheet): added friends bottom sheet and new icons
  client/src/assets/icons/add-user.tsx
  client/src/assets/icons/send-message.tsx
  client/src/components/FriendsBoxBottomSheet.tsx
  client/src/screens/Chat/Home.tsx
Due: npm run prettier:client, npm run lint:client

feat(friendship): added friendship relations and viewing user profile
  client/package-lock.json
  client/package.json
  client/src/assets/animatons/user-profile1.json
  client/src/assets/icons/hour-glass.tsx
  client/src/assets/icons/success.tsx
  client/src/components/RequestBoxBottomSheet.tsx
  client/src/components/Tab.tsx
  client/src/navigations/AppNavigator.tsx
  client/src/navigations/RootStackParamList.ts
  client/src/screens/Chat/Chat.tsx
  client/src/screens/Discover/Discover.tsx
  client/src/screens/Discover/UserProfile.tsx
  server/src/controllers/message.controller.js
  server/src/controllers/user.controller.js
  server/src/models/conversation.model.js
  server/src/models/user.model.js
  server/src/routes/user.route.js
Due: npm run prettier:server, npm run lint:server, npm run prettier:client, npm run lint:client

feat(group-screen): added functions of creating a group and sending messages from the group
  client/src/assets/icons/create-group.tsx
  client/src/components/CreateGroupBottomSheet.tsx
  client/src/navigations/AppNavigator.tsx
  client/src/navigations/RootStackParamList.ts
  client/src/screens/Group/Group.tsx
  client/src/screens/Group/GroupChat.tsx
  server/src/controllers/group.controller.js
  server/src/models/group.model.js
  server/src/models/groupMessage.model.js
  server/src/routes/group.route.js
  server/src/server.js
Due: npm run prettier:server, npm run lint:server, npm run prettier:client, npm run lint:client

feat(group-screen): added group detail page, adding and removing members to the group functions
  client/src/components/AddMemberGroup.tsx
  client/src/components/GroupModal.tsx
  client/src/navigations/AppNavigator.tsx
  client/src/navigations/RootStackParamList.ts
  client/src/screens/Group/Group.tsx
  client/src/screens/Group/GroupChat.tsx
  client/src/screens/Group/GroupInfo.tsx
  server/src/controllers/group.controller.js
  server/src/routes/group.route.js
Due: npm run prettier:server, npm run lint:server, npm run prettier:client, npm run lint:client

chore(package-json): added 'install:all' script
  package.json
Due: none

chore(theme): update theme colors and styles in theme bottom sheet and setting screens
  client/src/components/ThemeBottomSheet.tsx
  client/src/constants/color/colors.ts
  client/src/context/ThemeContext.tsx
  client/src/screens/Setting/Setting.tsx
Due: npm run prettier:client, npm run lint:client

fix(discover): fixed discover screen and components
  client/src/assets/icons/cross.tsx
  client/src/assets/icons/gender.tsx
  client/src/components/RequestBoxBottomSheet.tsx
  client/src/components/cards/Card.tsx
  client/src/components/headers/BackHeader.tsx
  client/src/components/headers/Header.tsx
  client/src/components/pagination/Pagination.tsx
  client/src/components/profileContainer/ProfileContainer.tsx
  client/src/components/profileContainer/ProfileImage.tsx
  client/src/components/profileContainer/ProfileModal.tsx
  client/src/components/profileContainer/ProfileWithText.tsx
  client/src/constants/color/colors.ts
  client/src/constants/types/user.ts
  client/src/context/ThemeContext.tsx
  client/src/screens/Discover/Discover.tsx
  client/src/screens/Discover/UserProfile.tsx
  client/src/screens/Discover/components/RequestBoxBottomSheet.tsx
  client/src/screens/Setting/Setting.tsx
Due: npm run prettier:client, npm run lint:client

fix(group): fixed group screen and components
  client/src/assets/icons/diamond.tsx
  client/src/assets/icons/plus.tsx
  client/src/assets/icons/quotation.tsx
  client/src/assets/icons/settings.tsx
  client/src/components/AddMemberGroup.tsx
  client/src/components/CreateGroupBottomSheet.tsx
  client/src/components/GroupModal.tsx
  client/src/components/Tab.tsx
  client/src/components/list/ListUserInfo.tsx
  client/src/constants/types/group.ts
  client/src/screens/Discover/Discover.tsx
  client/src/screens/Group/Group.tsx
  client/src/screens/Group/GroupInfo.tsx
  client/src/screens/Group/components/AddMemberGroupBottomSheet.tsx
  client/src/screens/Group/components/CreateGroupBottomSheet.tsx
  client/src/screens/Group/components/GroupCard.tsx
  client/src/screens/Group/components/GroupMemberDetailModal.tsx
  client/src/screens/Setting/Profile.tsx
Due: npm run prettier:client, npm run lint:client

fix(home-chats): fixed home, chat screen and components
  client/src/assets/icons/bin.tsx
  client/src/assets/icons/send.tsx
  client/src/components/FriendsBoxBottomSheet.tsx
  client/src/components/bubble/NotificationBubble.tsx
  client/src/components/cards/Card.tsx
  client/src/components/headers/BackHeaderWithImage.tsx
  client/src/components/headers/BackHeaderWithUsers.tsx
  client/src/components/inputs/SendInput.tsx
  client/src/constants/types/group-message.ts
  client/src/constants/types/group.ts
  client/src/constants/types/message.ts
  client/src/constants/types/user.ts
  client/src/context/AuthContext.tsx
  client/src/screens/Chat/Chat.tsx
  client/src/screens/Chat/Home.tsx
  client/src/screens/Chat/components/FriendsBottomSheet.tsx
  client/src/screens/Chat/components/MessageContainer.tsx
  client/src/screens/Discover/Discover.tsx
  client/src/screens/Discover/components/UserCard.tsx
  client/src/screens/Group/Group.tsx
  client/src/screens/Group/GroupChat.tsx
  client/src/screens/Group/components/GroupCard.tsx
Due: npm run prettier:client, npm run lint:client

fix(navigator): fixed bottom-tab-bar, app navigator and root stack param list
  client/src/components/bubble/NotificationBubble.tsx
  client/src/components/pagination/Pagination.tsx
  client/src/context/ThemeContext.tsx
  client/src/navigations/AppNavigator.tsx
  client/src/navigations/BottomTabBar.tsx
  client/src/navigations/RootStackParamList.ts
  client/src/screens/Chat/Chat.tsx
  client/src/screens/Chat/Home.tsx
  client/src/screens/Chat/components/MessageContainer.tsx
  client/src/screens/Discover/UserProfile.tsx
  client/src/screens/Group/GroupChat.tsx
  client/src/screens/Group/GroupInfo.tsx
  client/src/screens/Login/Register.tsx
  client/src/screens/Onboarding/Onboarding.tsx
  client/src/screens/Setting/Profile.tsx
  server/src/controllers/user.controller.js
Due: npm run prettier:server, npm run lint:server, npm run prettier:client, npm run lint:client

fix(login-register): fixed login, register screen and components
  client/package-lock.json
  client/package.json
  client/src/components/RegisterModal.tsx
  client/src/components/button/Button.tsx
  client/src/components/dropDown/DropDown.tsx
  client/src/components/loading/Loading.tsx
  client/src/constants/types/user.ts
  client/src/navigations/BottomTabBar.tsx
  client/src/screens/Discover/Discover.tsx
  client/src/screens/Login/Login.tsx
  client/src/screens/Login/Register.tsx
  client/src/screens/Login/components/ForgotPasswordBottomSheet.tsx
  client/src/screens/Login/components/RegisterModal.tsx
Due: npm run prettier:client, npm run lint:client

feat(screen-login): added language support for login and register screens
  client/src/components/dropDown/DropDown.tsx
  client/src/constants/localization/en.json
  client/src/constants/localization/i18next.ts
  client/src/constants/localization/tr.json
  client/src/context/SocketContext.tsx
  client/src/screens/Login/Login.tsx
  client/src/screens/Login/Register.tsx
  client/src/screens/Login/components/ForgotPasswordBottomSheet.tsx
  client/src/screens/Login/components/RegisterModal.tsx
Due: npm run prettier:client, npm run lint:client

feat(screen-chat): added language support for home, chat screens and components
  client/src/components/inputs/SendInput.tsx
  client/src/constants/localization/en.json
  client/src/constants/localization/tr.json
  client/src/screens/Chat/Chat.tsx
  client/src/screens/Chat/Home.tsx
  client/src/screens/Chat/components/FriendsBottomSheet.tsx
  client/src/screens/Chat/components/MessageContainer.tsx
Due: npm run prettier:client, npm run lint:client

feat(screen-discover): added language support for discover, user profile screens and components
  client/src/components/pagination/Pagination.tsx
  client/src/constants/localization/en.json
  client/src/constants/localization/tr.json
  client/src/screens/Discover/Discover.tsx
  client/src/screens/Discover/UserProfile.tsx
  client/src/screens/Discover/components/RequestBoxBottomSheet.tsx
  client/src/screens/Discover/components/UserCard.tsx
Due: npm run prettier:client, npm run lint:client

feat(screen-group): added language support for group, group chat, group info screens and components
  client/src/components/bottomSheet/SetProfileValueBottomSheet.tsx
  client/src/components/headers/BackHeaderWithUsers.tsx
  client/src/constants/localization/en.json
  client/src/constants/localization/tr.json
  client/src/screens/Group/Group.tsx
  client/src/screens/Group/GroupChat.tsx
  client/src/screens/Group/GroupInfo.tsx
  client/src/screens/Group/components/AddMemberGroupBottomSheet.tsx
  client/src/screens/Group/components/CreateGroupBottomSheet.tsx
  client/src/screens/Group/components/GroupCard.tsx
  client/src/screens/Group/components/GroupMemberDetailModal.tsx
Due: npm run prettier:client, npm run lint:client

feat(screen-setting): added language support for setting, profile screens and components
  client/src/constants/localization/en.json
  client/src/constants/localization/tr.json
  client/src/screens/Setting/Profile.tsx
  client/src/screens/Setting/Setting.tsx
  client/src/screens/Setting/components/bottomSheets/AboutUsBottomSheet.tsx
  client/src/screens/Setting/components/bottomSheets/ChatsBottomSheet.tsx
  client/src/screens/Setting/components/bottomSheets/HelpBottomSheet.tsx
  client/src/screens/Setting/components/bottomSheets/LanguageBottomSheet.tsx
  client/src/screens/Setting/components/bottomSheets/PrivacyBottomSheet.tsx
  client/src/screens/Setting/components/bottomSheets/ProfilePhotoBottomSheet.tsx
  client/src/screens/Setting/components/bottomSheets/ThemeBottomSheet.tsx
  client/src/screens/Setting/components/modals/ClearChatHistoryModal.tsx
  client/src/screens/Setting/components/modals/FontSizeModal.tsx
  client/src/screens/Setting/components/modals/WallpaperModal.tsx
  client/src/screens/Setting/constants/about-us.ts
  client/src/screens/Setting/constants/privarcy-content.ts
  client/src/screens/Setting/constants/questions.ts
Due: npm run prettier:client, npm run lint:client

feat(navigation-bottom-bar): added language support for bottom bar and cleaned up some json files
  client/src/assets/animatons/discover1.json
  client/src/assets/animatons/discover2.json
  client/src/assets/animatons/discover3.json
  client/src/assets/animatons/discover4.json
  client/src/assets/animatons/register.json
  client/src/assets/animatons/register2.json
  client/src/assets/animatons/user-profile.json
  client/src/constants/localization/en.json
  client/src/constants/localization/es.json
  client/src/constants/localization/languages.ts
  client/src/constants/localization/tr.json
  client/src/constants/localization/translate.ts
  client/src/navigations/BottomTabBar.tsx
  client/src/screens/Discover/UserProfile.tsx
  client/src/screens/Login/Register.tsx
  client/src/screens/Setting/constants/about-us.ts
Due: npm run prettier:client, npm run lint:client

feat(font-size): added font size functionality
  client/App.tsx
  client/src/context/FontSizeContext.tsx
  client/src/screens/Chat/Chat.tsx
  client/src/screens/Setting/components/modals/FontSizeModal.tsx
  client/src/screens/Setting/constants/font-size.ts
Due: npm run prettier:client, npm run lint:client

feat(wallpaper-color): added wallpaper color functionality
  client/App.tsx
  client/src/context/WallpaperContext.tsx
  client/src/screens/Chat/Chat.tsx
  client/src/screens/Group/GroupChat.tsx
  client/src/screens/Setting/components/modals/WallpaperModal.tsx
  client/src/screens/Setting/constants/wallpaper-colors.ts
  client/src/services/baseUrl.ts
Due: npm run prettier:client, npm run lint:client

fix(home-search): optimize user search functionality in home screen
  client/src/screens/Chat/Home.tsx
Due: npm run prettier:client, npm run lint:client

chore(icons): fixed icons and components
  client/src/assets/icons/add-user.tsx
  client/src/assets/icons/arrow.tsx
  client/src/assets/icons/bin.tsx
  client/src/assets/icons/bottom-tabs.tsx
  client/src/assets/icons/calendar.tsx
  client/src/assets/icons/camera.tsx
  client/src/assets/icons/chat-settings.tsx
  client/src/assets/icons/close.tsx
  client/src/assets/icons/cross.tsx
  client/src/assets/icons/diamond.tsx
  client/src/assets/icons/dot.tsx
  client/src/assets/icons/flag.tsx
  client/src/assets/icons/gallery.tsx
  client/src/assets/icons/gender.tsx
  client/src/assets/icons/ghost.tsx
  client/src/assets/icons/headers.tsx
  client/src/assets/icons/hour-glass.tsx
  client/src/assets/icons/icon-props.ts
  client/src/assets/icons/id.tsx
  client/src/assets/icons/info.tsx
  client/src/assets/icons/pen.tsx
  client/src/assets/icons/plus.tsx
  client/src/assets/icons/quotation.tsx
  client/src/assets/icons/search.tsx
  client/src/assets/icons/send-message.tsx
  client/src/assets/icons/send.tsx
  client/src/assets/icons/settings.tsx
  client/src/assets/icons/success.tsx
  client/src/assets/icons/theme.tsx
  client/src/navigations/BottomTabBar.tsx
  client/src/screens/Chat/Home.tsx
  client/src/screens/Chat/components/FriendsBottomSheet.tsx
  client/src/screens/Onboarding/components/Button.tsx
  client/src/screens/Setting/components/modals/FontSizeModal.tsx
  client/src/screens/Setting/components/modals/WallpaperModal.tsx
Due: npm run prettier:client, npm run lint:client

fix(server-model): fixed models and auth controller
  client/src/services/baseUrl.ts
  server/.eslintrc.js
  server/package-lock.json
  server/package.json
  server/src/controllers/auth.controller.js
  server/src/middlewares/authentication.middleware.js
  server/src/models/conversation.model.js
  server/src/models/group.model.js
  server/src/models/groupMessage.model.js
  server/src/models/message.model.js
  server/src/models/user.model.js
  server/src/routes/auth.route.js
  server/src/routes/group.route.js
  server/src/routes/message.route.js
  server/src/routes/user.route.js
  server/src/utils/error.util.js
  server/src/utils/generateToken.util.js
Due: npm run prettier:server, npm run lint:server, npm run prettier:client, npm run lint:client
